/***** BASE STYLES *****/

body {
    color: #2b2b2b; 
    font-family: 'Source Sans Pro', sans-serif;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px; 
}

.third-width {
    float: left;
    width: 400px;
}
